    <footer class="site-footer" style="background-image: url({{ "assets/images/light-purple-chalkboard.jpg" | relative_url }});">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4">
            <h3>O vadnici</h3>
            <p>Gajin svet programiranja je nastal, da bi najmlajšim pomagal pri razumevanju digitalnega sveta. Vadnica je tako namenjena učencem in učiteljem, da boste v razredu skupaj razširili svoje znanje računalništva. Na zabaven način!</p>
          </div>
          <div class="col-md-6 ml-auto">
            <div class="row">
              <div class="col-md-4">
                <ul class="list-unstyled">
                  <li><a href="http://codeweek.si/" target="blank">Code Week</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="list-unstyled">
                  <li><a href="http://gajinsvet.si" target="blank">Gajin svet</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="list-unstyled">
                  <li><a href="#" target="blank">Odklikni</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>
    <!-- END footer -->
