    <footer class="site-footer" style="background-image: url({{ "assets/images/light-purple-chalkboard.jpg" | relative_url }});">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4">
            <h3>Kontakt: Felina Films</h3>
            <p>Trubarjeva cesta 23a, Ljubljana, Slovenija<br/>
                01 300 75 00, <a href="mailto:info@felinafilms.si">info@felinafilms.si</a><br/>
            <strong>Stiki z javnostmi: Tina Deu</strong><br/>
                040 123 245, <a href="mailto:tina.deu@felinafilms.si">tina.deu@felinafilms.si</a><br/>
            <strong>Šolske projekcije: Katja Škrabar</strong><br/>
                041 384 938, <a href="mailto:katja@felinafilms.si">katja@felinafilms.si</a></p>
          </div>
          <div class="col-md-6 ml-auto">
            <div class="row">
              <div class="col-md-4">
                <ul class="list-unstyled">
                  <li class="fb"><a href="https://www.facebook.com/GajinSvet/" target="blank">Gajin svet</a></li>
                  <li class="fb"><a href="https://www.facebook.com/felinafil/" target="blank">Felina Films</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="list-unstyled">
                  <li><a href="http://codeweek.si/" target="blank">Code Week</a></li>
                  <li><a href="https://odklikni.si" target="blank">Odklikni</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>
    <!-- END footer -->
