<header role="banner">
 
  <nav class="navbar navbar-expand-md navbar-dark bg-light">
    <div class="container">
      <a class="navbar-brand absolute" href="{{ site.baseurl }}{% link vadnica/index.md %}">Vadnica</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
        <ul class="navbar-nav mx-auto">
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{{ site.baseurl }}/sole" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Za šole</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">

            {% for item in site.featured %}
              <a class="dropdown-item" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endfor %}
          </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{{ site.baseurl }}/vadnica" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lekcije</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
              
              {% assign sorted_posts = site.posts | sort: 'date', 'first' %}
              {% for post in sorted_posts %}
              
              <a class="dropdown-item" href="{{ post.url | relative_url }}">{{ post.title }}</a>
            {% endfor %}
            </div>

          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}{% link vadnica/about.md %}">O nas</a>
          </li>

        </ul>
        <ul class="navbar-nav absolute-right">
          <li class="nav-item">
            <a href="http://codeweek.si" class="nav-link" target="_blank"><img src="{{ "assets/images/codeweek-logo-small.png" | relative_url }}" class="header-logo"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- END header -->
