{% for item in site.featured %}
<article class="post featured">
  <header class="major">
    <time class="date" datetime="{{ item.date | date_to_xmlschema }}" itemprop="datePublished">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {{ item.date | date: date_format }}
    </time>
    <h2><a href="#">{{ item.title | escape }}</a></h2>
  </header>
  <p>{{ item.excerpt }}</p>
  <a href="#" class="image main"><img src="{{ item.image }}" alt="" /></a>
  <ul class="actions">
    <li><a href="{{ item.url | relative_url }}" class="button big">Full Story</a></li>
  </ul>
</article>
{% endfor %}
