.gs-b {
	font-weigh: 700;
	color: $primary;
}

.header-logo {
	height: 28px;
	width: auto;
	display: inline-block;
}

.code, .highlighter-rouge {
	color: $secondary;
}

.gs-supporters li {
	display: inline-block;
	padding: 0.5rem;
	margin: 0.5rem;
	background-color: rgba(255,255,255,0.8);
}

.gs-supporters li a {
	color: $dark;
}

.table th, .table td {
	border: none;
}

.table th {
	text-align: right;
}

section h2, section h3, section h4 {
	margin-top: 3rem;
	margin-bottom: 2rem;
}

li.fb {
	background: url(/assets/images/flogo-20.png) center left no-repeat;
	padding-left:25px;
}
