---
layout: default
---


<section class="site-hero overlay parallax-window" data-parallax="scroll" data-image-src="{{ "assets/images/gaja-background.jpg" | relative_url }}">
  <div class="container">
    <div class="row align-items-center site-hero-inner justify-content-center">
      <div class="col-md-8 text-center">

        <div class="mb-5 element-animate">
          <img src="{{ "assets/images/gs_logo.png" | relative_url }}" alt="Gajin svet - logotip" class="img-thumbnail mb-5">
          <p class="lead">Mladinska romantična komedija z elementi kriminalke</p>
          <p><a href="#zgodba" class="btn btn-lg btn-primary scroll-anchor">Radovedni?</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END section -->
<section class="section-cover parallax-window" data-parallax="scroll" data-image-src="{{ "assets/images/gaja-running.jpg" | relative_url }}">
 <div class="container">
   <div class="row justify-content-center align-items-center">
    <div class="col-md-12 text-center">
            <div class="embed-responsive embed-responsive-16by9 mb-5 mt-5">
              <iframe class="embed-responsive-item" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FGajinSvet%2Fvideos%2F2095479420692633%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
            </div>
          </div>
   </div>
 </div>
</section>


<section class="site-section bg-light">
  <div class="container" id="zgodba">
  <div class="row justify-content-center align-items-center intro">
    <div class="col-md-10 element-animate">
      <h2 class="text-dark">Zgodba</h2>
      <p class="lead">Enajstletna Gaja (Tara Milharčič) živi skupaj z očetom Petrom (Sebastian Cavazza) in štirinajstletno sestro Teo (Neža Smolinsky), potem ko se njena mama Nina (Jana Zupančič) pridruži organizaciji Zdravniki brez meja v Liberiji. Ker so v družini tako rekoč čez noč ostali samo trije člani, se skušajo znova postaviti na noge in ujeti ritem vsakdanjega življenja.</p>
      
      <p>Gaja vadi saksofon in se zelo dobro razume s svojo učiteljico saksofona Emo (Ajda Smrekar), rada se druži s svojim najboljšim prijateljem Maticem (Anže Gorenc), ki je sicer računalniški genij, a je hkrati tudi večna žrtev svojih močnejših sošolcev. Gaje seveda nič ne ustavi, da mu ne bi stala ob strani na vsakem koraku. Skupaj med drugim izpilita tudi načrt, kako rešiti sestro Teo in njeno prijateljico Dašo (Gitica Jakopin), ki sta zaradi svojih naivnih najstniških glav zabredli v svet spletnih nevarnosti.</p>
    </div>
  </div>
  </div>
</section>
<!-- END section -->

<section class="section-cover parallax-window" data-parallax="scroll" data-image-src="{{ "assets/images/gaja-only.jpg" | relative_url }}">
  <div class="container">
    <div class="row justify-content-center align-items-center intro">
      <div class="offset-md-1 col-md-7 text-center element-animate">
        <h2 class="text-dark">Kdo je Gaja?</h2>
        <p class="lead mb-5 text-dark">Enajstletna Gaja je kot Pika Nogavička sodobnega časa - pogumna, neposredna, odločna, iskrena in srčna deklica, ki stvari rada vzame v svoje roke in se ne ustraši nobenih preprek.</p>
      </div>
      <div class="col-md-4">&nbsp;</div>
    </div>
  </div>
</section>
<!-- END section -->


<section class="site-section bg-light">
  <div class="container">
  <div class="row justify-content-center align-items-center intro">
    <div class="col-md-10">
      <h2>O filmu</h2>
      <p class="lead element-animate">Film opozarja na težave, s katerimi se v sodobnem svetu na eni strani srečujejo otroci, na drugi pa njihovi starši, saj obravnava zagate, ki so del našega vsakdana: ločitev staršev, odtujenost v družini in nevarnosti svetovnega spleta in družbenih omrežij.</p>
      <p class="element-animate">Ton filma je pozitiven, žanr sodi v področje romantične komedije s primesmi kriminalke, tematika in vse spremljevalne aktivnosti (spletna stran, družbena omrežja, osveščevalna kampanja na klasičnih in spletnih kanalih) pa bodo pozivale in osveščale z odpiranjem pomembnih vprašanj in vabile k dialogu. Gajin svet v sebi nosi tudi izobraževalno noto, zato bodo ob filmu igralci s kratkimi pozivi nagovarjali občinstvo k previdni uporabi spleta.</p>
      
      <h4 class="text-center" id="igralci">Igrajo</h4>

      <table class="table table-sm">
        <tr>
          <th>Gaja</th>
          <td>Tara Milharčič</td>
          <th>Tea</th>
          <td>Neža Smolinsky</td>
        </tr>
        <tr>
          <th>Matic</th>
          <td>Anže Gorenc</td>
          <th>Peter, Gajin in Tein oče</th>
          <td>Sebastian Cavazza</td>
        </tr>
        <tr>
          <th>Ema, učiteljica saksofona</th>
          <td>Ajda Smrekar</td>
          <th>Nina, Gajina in Teina mama</th>
          <td>Jana Zupančič</td>
        </tr>
        <tr>
          <th>Daša, Teina prijateljica</th>
          <td>Gitica Jakopin</td>
          <th>Višji inšpektor</th>
          <td>Lotos Vincenc Šparovec</td>
        </tr>
        <tr>
          <th>V stranskih vlogah</th>
          <td>Primož Pirnat<br/>
          Judita Zidar<br/>
          Boris Ostan<br/>
          Manca Dorrer<br/>
          Katja Ogrin<br/>
                    Miha Brajnik<br/>
                    Štefan Kušar<br/>
                  </td>
          <th></th>
          <td>
          Jernej Tozon<br/>
          Nataša Barbara Gračner<br/>
          Žak Župan Galunič<br/>
          Erik Fevžer Maksimovič<br/>
          Jan Gaberšek<br/>
          Nejc Lukežič</td>
        </tr>
        
      </table>
          </div>
        </div>
        </div>
      </section>
      <!-- END section -->      
      
      <section class="section-cover parallax-window" data-parallax="scroll" data-image-src="{{ "assets/images/gaja-liki.jpg" | relative_url }}">
        <div class="container">
          <div class="row justify-content-center align-items-center intro">
            <div class="offset-md-1 col-md-7 text-center element-animate ">
             &nbsp;
            </div>
            <div class="col-md-4">&nbsp;</div>
          </div>
        </div>
      </section>
      <!-- END section -->

      <section class="site-section bg-light">
        <div class="container">
        <div class="row justify-content-center align-items-center intro">
          <div class="col-md-10">
      <h4 class="text-center">Ekipa</h4>
          <table class="table table-sm">
            <tbody>
              <tr>
                <th scope="row">Scenarij</th>
                <td>Peter Bratuša <br/>Špela Levičnik Oblak</td>
                <th scope="row">Skladatelj</th>
                <td>Sebastijan Duh</td>
              </tr>
              <tr>
                <th scope="row">Režija</th>
                <td>Peter Bratuša</td>
                <th scope="row">Scenograf</th>
                <td>Miha Ferkov</td>
              </tr>
              <tr>
                <th scope="row">Produkcija</th>
                <td>Felina Films</td>
                <th scope="row">Kostumografka</th>
                <td>Vesna Črnelič</td>
              </tr>
              <tr>
                <th scope="row">Producenta</th>
                <td>Peter Bratuša <br/>Tilen Ravnikar</td>
                <th scope="row">Oblikovalec zvoka</th>
                <td>Matjaž Moraus Zdešar</td>
              </tr>
              <tr> 
                <th scope="row">Direktor fotografije</th>
                <td>Mirko Pivčević</td>
                <th scope="row">Oblikovalka maske</th>
                <td>Nataša Sevčnikar</td>
              </tr>
              <tr>
                <th scope="row">Montažer</th>
                <td>Tomislav Pavlic</td>
                <th scope="row">Koprodukcija</th>
                <td>RTV Slovenija</td>
              </tr>
              <tr>
                <th scope="row">Sofinanciranje</th>
                <td>Slovenski filmski center <br/>Viba film</td>
                <th>&nbsp;</th>
                <td>&nbsp;</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
  </div>
</section>
<!-- END section -->

<section class="section-cover parallax-window" data-parallax="scroll" data-image-src="{{ "assets/images/gaja-window.jpg" | relative_url }}">
  <div class="container">
    <div class="row justify-content-center align-items-center intro">
      <div class="col-md-12 text-center element-animate gs-supporters mt-5 pt-5 mb-5 pb-5">
        <h2 id="podporniki" class="mt-5">Film podpirajo</h2>
        <ul>
          <li><a href="http://www.mizs.gov.si/" target="blank">Ministrstvo za izobraževanje, znanost in šport</a></li>
          <li><a href="http://www.zpms.si/" target="blank">Zveza prijateljev mladine Slovenije</a></li>
          <li><a href="http://www.zpmmoste.net/" target="blank">ZPM Ljubljana Moste-Polje</a></li>
          <li><a href="https://safe.si/" target="blank">Safe.si</a></li>
          <li><a href="http://codeweek.si/" target="blank">Code Week</a></li>
          <li><a href="https://www.arnes.si/" target="blank">Arnes</a></li>
          <li><a href="http://www.misss.si/" target="blank">MISSS</a></li>
          <li><a href="https://spletno-oko.si/" target="blank">Spletno oko</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- END section -->

<section class="overflow">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-7 order-lg-3 order-1 mb-lg-0 mb-5">
        <img src="{{ "assets/images/matic-in-gaja.jpg" | relative_url }}" alt="Image placeholder" class="img-md-fluid">
      </div>
      <div class="col-lg-1 order-lg-2"></div>
      <div class="col-lg-4 order-lg-1 order-2 mb-lg-0 mb-5 text-center">
        <h3>Kako sta Gaja in Matic rešila Teo</h3>
        <p class="lead mb-5">Ko je Gajina sestra Tea zabredla v težave, je Gaja vzela stvari v svoje roke in s pomočjo prijatelja Matica z malo hekanja in vztrajnostjo rešila Teo in njeno prijateljico Dašo pred kriminalno združbo, ki je na spletu prežala na mlada dekleta. Katere trike sta uporabila, izveš v vadnici Gajin svet programiranja.</p>
        <a href="{{ site.baseurl }}{% link vadnica/index.md %}" class="btn btn-lg btn-primary" target="_blank">Gajin svet programiranja</a>
      </div>
    </div>
  </div>
</section>
<!-- END section -->

{%- include footer_home.html -%}
