---
layout: default
---


<section class="site-hero overlay parallax-window" data-parallax="scroll" data-image-src="{{ "assets/images/gaja-background.jpg" | relative_url }}">
  <div class="container">
    <div class="row align-items-center site-hero-inner justify-content-center">
      <div class="col-md-8 text-center">

        <div class="mb-5 element-animate">
          <img src="{{ "assets/images/gs_logo.png" | relative_url }}" alt="Gajin svet - logotip" class="img-thumbnail mb-5">
          <p class="lead">Mladinska romantična komedija z elementi kriminalke </p>
          <p><a href="#zgodba" class="btn btn-primary">Radovedni?</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END section -->

<section class="site-section bg-light">
  <div class="container">
  <div class="row justify-content-center align-items-center intro">
    <div class="ol-md-7 element-animate">
      <h2 id="zgodba">Gajin svet</h2>
      <p class="lead">Enajstletna Gaja (Tara Milharčič) živi skupaj z očetom Petrom (Sebastian Cavazza) in štirinajstletno sestro Teo (Neža Smolinsky), potem ko se njena mama Nina (Jana Zupančič) pridruži organizaciji Zdravniki brez meja v Liberiji. Ker so v družini tako rekoč čez noč ostali samo trije člani, se skušajo znova postaviti na noge in ujeti ritem vsakdanjega življenja.</p> 
      <p>Gaja vadi saksofon in se zelo dobro razume s svojo učiteljico saksofona Emo (Ajda Smrekar), rada se druži s svojim najboljšim prijateljem Maticem (Anže Gorenc), ki je sicer računalniški genij, a je hkrati tudi večna žrtev svojih močnejših sošolcev. Gaje seveda nič ne ustavi, da mu ne bi stala ob strani na vsakem koraku. Skupaj med drugim izpilita tudi načrt, kako rešiti sestro Teo in njeno prijateljico Dašo (Gitica Jakopin), ki sta zaradi svojih naivnih najstniških glav zabredli v svet spletnih nevarnosti.</p>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FGajinSvet%2Fvideos%2F2095479420692633%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
      </div>
    </div>
  </div>
  </div>
</section>
<!-- END section -->

<section class="section-cover parallax-window" data-parallax="scroll" data-image-src="{{ "assets/images/light-orange-chalkboard.jpg" | relative_url }}">
  <div class="container">
    <div class="row justify-content-center align-items-center intro">
      <div class="col-md-7 text-center element-animate">
        <h2>Kdo je Gaja?</h2>
        <p class="lead mb-5">Enajstletna Gaja je kot Pika Nogavička sodobnega časa - pogumna, neposredna, odločna, iskrena in srčna deklica, ki stvari rada vzame v svoje roke in se ne ustraši nobenih preprek.</p>
      </div>
    </div>
  </div>
</section>
<!-- END section -->


<section class="site-section bg-light">
  <div class="container">
  <div class="row justify-content-center align-items-center intro">
    <div class="ol-md-7 element-animate">
      <h2>O filmu</h2>
      <p class="lead">Film opozarja na težave, s katerimi se v sodobnem svetu na eni strani srečujejo otroci, na drugi pa njihovi starši, saj obravnava zagate, ki so del našega vsakdana: ločitev staršev, odtujenost v družini in nevarnosti svetovnega spleta in družbenih omrežij.</p>
      <p>Ton filma je pozitiven, žanr sodi v področje romantične komedije s primesmi kriminalke, tematika in vse spremljevalne aktivnosti (spletna stran, družbena omrežja, osveščevalna kampanja na klasičnih in spletnih kanalih) pa bodo pozivale in osveščale z odpiranjem pomembnih vprašanj in vabile k dialogu. Gajin svet v sebi nosi tudi izobraževalno noto, zato bodo ob filmu igralci s kratkimi pozivi nagovarjali občinstvo k previdni uporabi spleta.</p>
      <h4 id="igralci">Igrajo</h4>
      <p>Tara Milharčič, Neža Smolinsky, Anže Gorenc, Sebastian Cavazza, Ajda Smrekar, Primož Pirnat, Lotos Vincenc Šparovec, Nataša Barbara Gračner, Jana Zupančič, Judita Zidar, Boris Ostan, Manca Dorrer, Katja Ogrin, Miha Brajnik, Štefan Kušar, Jernej Tozon, Gitica Jakopin, Žak Župan Galunič, Erik Fevžer Maksimovič, Jan Gaberšek, Nejc Lukežič</p>
      <h4>Ekipa</h4>
      <div class="row mb-2">
        <div class="col">Scenarij: Peter Bratuša, Špela Levičnik Oblak<br>
Režija: Peter Bratuša <br>
Produkcija: Felina Films<br>
Producenta: Peter Bratuša, Tilen Ravnikar</div><div class="col">Direktor fotografije: Mirko Pivčević<br>
Montažer: Tomislav Pavlic<br>
Skladatelj: Sebastijan Duh<br>
Oblikovalec zvoka: Matjaž Moraus Zdešar</div><div class="col">Scenograf: Miha Ferkov<br>
Kostumografka: Vesna Črnelič<br>
Oblikovalka maske: Nataša Sevčnikar</div>
      </div>
      <h4>Financiranje</h4>
      <p>Koprodukcija: RTV Slovenija<br>
         Sofinanciranje: Slovenski filmski center, Viba film<br></p>
    </div>
  </div>
  </div>
</section>
<!-- END section -->

<section class="section-cover parallax-window" data-parallax="scroll" data-image-src="{{ "assets/images/light-blue-chalkboard.jpg" | relative_url }}">
  <div class="container">
    <div class="row justify-content-center align-items-center intro">
      <div class="col-md-7 text-center element-animate">
        <h3>Film podpirajo:</h3>
        <ul>
          <li><a href="http://www.mizs.gov.si/" target="blank">Ministrstvo za izobraževanje, znanost in šport</a></li>
          <li><a href="http://www.zpms.si/" target="blank">Zveza prijateljev mladine Slovenije</a></li>
          <li><a href="http://www.zpmmoste.net/" target="blank">ZPM Ljubljana Moste-Polje</a></li>
          <li><a href="https://safe.si/" target="blank">Safe.si</a></li>
          <li><a href="http://codeweek.si/" target="blank">Code Week</a></li>
          <li><a href="https://www.arnes.si/" target="blank">Arnes</a></li>
          <li><a href="http://www.misss.si/" target="blank">MISSS</a></li>
          <li><a href="https://spletno-oko.si/" target="blank">Spletno oko</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- END section -->

<section class="overflow">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-7 order-lg-3 order-1 mb-lg-0 mb-5">
        <img src="{{ "assets/images/matic-in-gaja.jpg" | relative_url }}" alt="Image placeholder" class="img-md-fluid">
      </div>
      <div class="col-lg-1 order-lg-2"></div>
      <div class="col-lg-4 order-lg-1 order-2 mb-lg-0 mb-5 text-center">
        <h3>Kako sta Gaja in Matic rešila Teo</h3>
        <p class="lead mb-5">Ko je Gajina sestra Tea zabredla v težave, je Gaja vzela stvari v svoje roke in s pomočjo prijatelja Matica z malo hekanja in vztrajnostjo rešila Teo in njeno prijateljico Dašo pred kriminalno združbo, ki je na spletu prežala na mlada dekleta.</p>
        <a href="{{ site.baseurl }}{% link vadnica/index.md %}" class="btn btn-lg btn-primary">Katere trike sta uporabila?</a>
      </div>
    </div>
  </div>
</section>
<!-- END section -->
