---
layout: default
title: Gajin svet programiranja
---

{%- include header.html -%}

<section class="site-hero overlay parallax-window" data-parallax="scroll" data-image-src="{{ "assets/images/main-background.jpg" | relative_url }}">
  <div class="container">
    <div class="row align-items-center site-hero-inner justify-content-center">
      <div class="col-md-8 text-center">

        <div class="mb-5 element-animate">
          <h1>Gajin svet programiranja</h1>
          <p class="lead">Nekaj lekcij, ki jih je Gaja osvojila med reševanjem sestre.</p>
          <p><a href="{{ site.baseurl }}{% link _posts/2018-07-01-prva-lekcija.md %}" class="btn btn-primary">Prični</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END section -->


<section class="school-features d-flex" style="background-image: url({{ "assets/images/light-blue-chalkboard.jpg" | relative_url }});">

  <div class="inner">
    <!-- featured -->
    {%- include partial_featured_posts.html -%}
  </div>
</section>
<!-- END section -->


<section class="site-section">
  <div class="container">
    <section class="school-features text-dark d-flex">

      <div class="inner">
        {%- include partial_posts.html -%}
      </div>
    </section>


  </div>
</section>
<!-- END section -->

<section class="section-cover parallax-window" data-parallax="scroll" data-image-src="{{ "assets/images/light-orange-chalkboard.jpg" | relative_url }}">
  <div class="container">
    <div class="row justify-content-center align-items-center intro">
      <div class="col-md-7 text-center element-animate">
        <h2>Učitelji in učenci,</h2>
        <p class="lead mb-5">pridružite se nam pri spoznavanju digitalnega sveta in s pomočjo vadnice Gajin svet programiranja organizirajte računalnikarsko delavnico v svojem razredu.</p>
        <p><a href="{{ site.baseurl }}{% link _featured/sole.md %}" class="btn btn-light">Organizirajte delavnico</a></p>
      </div>
    </div>
  </div>
</section>
<!-- END section -->


<section class="overflow">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-7 order-lg-3 order-1 mb-lg-0 mb-5">
        <img src="{{ "assets/images/matic-in-gaja.jpg" | relative_url }}" alt="Image placeholder" class="img-md-fluid">
      </div>
      <div class="col-lg-1 order-lg-2"></div>
      <div class="col-lg-4 order-lg-1 order-2 mb-lg-0 mb-5">
       <blockquote class="testimonial">
         &ldquo; Poznam njen email, njenega gesla pa ne. &rdquo;
       </blockquote>
        <blockquote class="testimonial">
         &ldquo; Eh, to je mala malca.&rdquo;
        </blockquote>
        <p>&mdash; Gaja in Matic, Gajin svet</p>
      </div>
    </div>
  </div>
</section>
<!-- END section -->


<section class="site-section bg-light">
  <div class="container">
  <div class="row justify-content-center align-items-center intro">
    <div class="ol-md-7 element-animate">
      <h2 class="mt-5">Pokrovitelj delavnic za šole</h2>
      <p>Navdušeni nad izobraževalno noto filma so se v podjetju 3fs priključili projektu Gajin svet programiranja. Z njihovo podporo po šolskih projekcijah izvajamo delavnice za šole (po naročilu), s katerimi učencem razložimo računalniške trike iz filma Gajin svet in jim pomagamo pri odgovorni rabi interneta.</p>
      <p>Kontakt: Katja Škabar, tel. 041 384 938, <a href="mailto:katja@felinafilms.si">katja@felinafilms.si</a></p>
      <div class="element-animate partner-banner" align="center">
        <a href="https://www.3fs.si/" target="_blank"><img class="partner-logo mx-auto d-block" src="{{ "assets/images/3fs_logo.png" | relative_url }}" alt="3fs.si"/></a>
      </div>
      </div>
  </div>
  </div>
</section>
<!-- END section -->


{%- include footer.html -%}
