---
layout: default
---

<!-- Header -->
  <header id="header">
    <a href="index.html" class="logo">Gajina vadnica</a>
  </header>

<!-- Nav -->
  <nav id="nav">
    <ul class="links">
      <li><a href="{{ site.url }}">Gajina vadnica</a></li>
      <li class="active"><a href="/gajin-svet">Gajin svet</a></li>
    </ul>
    <ul class="icons">
      <li><a href="https://www.facebook.com/codeweek.si/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="mailto:info@codeweek.si" class="icon fa-envelope"><span class="label">Email</span></a></li>
    </ul>
  </nav>

<!-- Main -->
  <div id="main">


<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>


