---
layout: default
---
{%- include header.html -%}
{% assign default_image = "assets/images/main-background.jpg" %}

<section class="site-hero site-hero-innerpage overlay parallax-window" data-parallax="scroll" data-image-src="{{ page.image | default: default_image | relative_url }}" >
  <div class="container">
    <div class="row align-items-center site-hero-inner justify-content-center">
      <div class="col-md-8 text-center">

        <div class="mb-5 element-animate">
          <h1 class="mb-3">{{ page.title | escape }}</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END section -->

<section class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 blog-content">
        <p class="lead"> {{ page.excerpt }} </p>

        {{ page.content }}
        
      </div>
      
      
        <div class="col-md-4 sidebar">
          {% if page.tags.size > 0 %}
          <div class="sidebar-box">
            <div class="categories">
              <h3>Oznake</h3>
              <ul>
              {% for tag in page.tags %}
              <li>{{ tag }}</li>
              {% endfor %}
            </ul>
            </div>
          </div>
          {% endif %}

          {% if page.special_tip %}
          <div class="sidebar-box">
            <h3>Nasvet</h3>
            <p>{{ page.special_tip }}</p>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>






